These are the datastructures that are used to store multiple values at a time.

# List
- Any values inside [] is a list.
- A list is a cintainer type that can contain multiple values at a time.
- It can store heterogenous values.

In [1]:
a = [10,20,30,40]
print(a)
print(type(a))

[10, 20, 30, 40]
<class 'list'>

In [2]:
a = ['sunil','anil','manoj','ramesh']
print(a)
print(type(a))

['sunil', 'anil', 'manoj', 'ramesh']
<class 'list'>

# Tuple
- Any values inside the () is a tuple.
- A tuple is a container type that can contain multiple elements.
- A tuple can hold heterogenous elements.

In [3]:
a = (10,20,30,40)
print(a)
print(type(a))

(10, 20, 30, 40)
<class 'tuple'>

In [4]:
a = ('sunil','anil','manoj','ramesh')
print(a)
print(type(a))

('sunil', 'anil', 'manoj', 'ramesh')
<class 'tuple'>

# Dictionary (dict)
- When we have key:value pairs inside the {} then it is a dictionary.
- In a dictionary the values are mapped to keys.

In [5]:
d={1:100,2:200}
print(d,type(d))

{1: 100, 2: 200} <class 'dict'>

In [6]:
emp = {'Name':'Vishal','City':'Pune','Id':'101'}
print(emp)

{'Name': 'Vishal', 'City': 'Pune', 'Id': '101'}

In [8]:
print(emp.values())

dict_values(['Vishal', 'Pune', '101'])

In [9]:
print(emp.keys())

dict_keys(['Name', 'City', 'Id'])

In [12]:
emp['Name'] =" Mandar"
emp

{'Name': ' Mandar', 'City': 'Pune', 'Id': '101', 'name': ' Mandar'}

# Set
- When we have values inside the {} then it is a set.
- Set is a container that can contain multiple values.
- Set does not allow the duplicate values.
- Set is not a sequence type.
- It does not support indexing.

In [15]:
b =1,2,3,4
print(set(b))

{1, 2, 3, 4}

In [16]:
a = {1,2,3,4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [18]:
a = {1,5,6,8,3,0,"True","Python"}
print(a)
print(type(a))

{0, 1, 3, 5, 6, 8, 'True', 'Python'}
<class 'set'>

In [20]:
s={True,'Python', 10, 5.5, 10+20j, (1,2,3),False,'Python'}
print(s,type(s))

{False, True, 5.5, (10+20j), 10, (1, 2, 3), 'Python'} <class 'set'>

# Frozenset
- When we pass an iterable inside the frozenset() then it is a frozenset.
- Frozenset also does not allow the duplicate values.
- Frozenset is a no sequence type.

In [22]:
f =({1,2,3,4})
print(f)
print(type(f))

{1, 2, 3, 4}
<class 'set'>

In [23]:
lst = [1,5,7,6,3]
f = frozenset(lst)
print(f,type(f))

frozenset({1, 3, 5, 6, 7}) <class 'frozenset'>

In [24]:
lst = [1,5,7,6,3,3]
f = frozenset(lst)
print(f,type(f))

frozenset({1, 3, 5, 6, 7}) <class 'frozenset'>

# Range 
- range() is used to create a sequence of integer numbers.
- range() returns a range object.

In [25]:
# Syntax- range(start,stop,step)
# Stop value is excluded
# Strep is 1 by default

In [27]:
# Create a sequence of the natural numbers from 1 to 10 -> [1,2,3,4,5,6,7,8,9,10]
r = range(1,11,1)
print(r,type(r))
print(list(r))

range(1, 11) <class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
r = range(1,11,2)
print(list(r))

[1, 3, 5, 7, 9]