- It is the conversion of the datatype from one to other

# int()

In [2]:
# It typecasts to int.
# It returns an int value.

In [4]:
a = 2.5 
print(a, type(a))

b = int(a)
print(b,type(b))

2.5 <class 'float'>
2 <class 'int'>

In [8]:
a = '10'
print(a, type(a))

b = int(a)
print(b,type(b))

10 <class 'str'>
10 <class 'int'>

In [6]:
a = True
print(a, type(a))

b = int(a)
print(b,type(b))

True <class 'bool'>
1 <class 'int'>

# Float()

In [9]:
# It typecats to float.
# It returns a float value.

In [11]:
a= 5
print(a,type(a))

b=float(a)
print(b,type(b))

5 <class 'int'>
5.0 <class 'float'>

In [12]:
a='-10.50'
print(a,type(a))

b=float(a)
print(b,type(b))

-10.50 <class 'str'>
-10.5 <class 'float'>

# Complex()

- It typecasts to complex value.
- It returns a complex value.

In [13]:
a=5
b=2

c=complex(a,b)
print(c,type(c))

(5+2j) <class 'complex'>

In [14]:
a=2.5
b=-.5

c=complex(a,b)
print(c,type(c))

(2.5-0.5j) <class 'complex'>

In [15]:
a=5
c=complex(a)
print(c,type(c))

(5+0j) <class 'complex'>

# Str()

- It typecasts to string.
- It returns a string value.

In [17]:
a=5
print(a,type(a))

s=str(a)
print(s,type(s))

5 <class 'int'>
5 <class 'str'>

In [18]:
a=5.5
print(a,type(a))

s=str(a)
print(s,type(s))

5.5 <class 'float'>
5.5 <class 'str'>

In [19]:
a= 3+ 2j
print(a,type(a))

s=str(a)
print(s,type(s))

(3+2j) <class 'complex'>
(3+2j) <class 'str'>

# List()

- It typecasts to list.
- It returns a list.

In [23]:
my_str = 'Python'
print(my_str,type(my_str))

b = list(my_str)
print(b,type(b))

Python <class 'str'>
['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [24]:
a = (1,2,3,4,5,6)
print(a,type(a))

b = list(a)
print(b,type(b))

(1, 2, 3, 4, 5, 6) <class 'tuple'>
[1, 2, 3, 4, 5, 6] <class 'list'>

In [25]:
t=(10, True, 'Laernbay', 10+20j, [1,2,3], {4,5,6}, {1:100,2:500})
print(t,type(t))

lst = list(t)
print(lst,type(lst))

(10, True, 'Laernbay', (10+20j), [1, 2, 3], {4, 5, 6}, {1: 100, 2: 500}) <class 'tuple'>
[10, True, 'Laernbay', (10+20j), [1, 2, 3], {4, 5, 6}, {1: 100, 2: 500}] <class 'list'>

# Tuple()

- It typecasts to tuple.
- It returns a tuple.

In [26]:
my_str='Python class'
print(my_str,type(my_str))

print(len(my_str))

t=tuple(my_str)
print(t,type(t))
print(len(t))

Python class <class 'str'>
12
('P', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'l', 'a', 's', 's') <class 'tuple'>
12

In [27]:
lst=[True, False, None, 20, 5.5, 10+20j, 'Python']
print(lst,type(lst))

t=tuple(lst)
print(t,type(t))

[True, False, None, 20, 5.5, (10+20j), 'Python'] <class 'list'>
(True, False, None, 20, 5.5, (10+20j), 'Python') <class 'tuple'>

In [28]:
d={'name':'Soubhagya','ID':101,'City':'Bangalore','Company':'TCS'}
print(d,type(d))

t=tuple(d)
print(t,type(t))

t=tuple(d.values())
print(t,type(t))

{'name': 'Soubhagya', 'ID': 101, 'City': 'Bangalore', 'Company': 'TCS'} <class 'dict'>
('name', 'ID', 'City', 'Company') <class 'tuple'>
('Soubhagya', 101, 'Bangalore', 'TCS') <class 'tuple'>

# Dict()

- It typecasts to a dictionary
- It returns a dictionary

- The iterable that we pass to the dict() again should have an iterable inside it.
- The inner iterable should have two elements. The first element becomes the key and the second element becomes the value in the dictionary.

In [30]:
dict([[1,100]])

{1: 100}

In [31]:
dict([(1,100)])

{1: 100}

In [32]:
dict(([1,100],[2,200]))

{1: 100, 2: 200}

In [33]:
dict([{'name','Ashish'},{'course','DS'}])

{'Ashish': 'name', 'DS': 'course'}

In [34]:
s={1,4,2,30,(1,2,3),'Python'}
print(s,type(s))

{1, 2, 4, (1, 2, 3), 30, 'Python'} <class 'set'>

# Set()

- A set can contain only the hashable items.
- Almost all immutable types are hashable types.
- Hashable types- String, Tuple, Frozenset
- Unhashable types- List, Dictionary, Set

In [36]:
# The object that has hash value is a hashable item